html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  background-image: url(../images/v748-toon-106.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  box-shadow: 5px 8px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 15px;
}

.card__header {
  grid-column: span 2;
  background-color: hsl(0, 0%, 100%);
  padding: 10px 30px;
  padding-bottom: 35px;
}

.card__header-title {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

.card__header-subtitle {
  color: hsl(71, 73%, 54%);
  font-size: 16px;
  font-weight: 700;
}

.card__header-description {
  color: hsl(218, 22%, 67%);
  line-height: 1.5;
}

.card__asideleft {
  box-sizing: border-box;
  background-color: hsl(179, 57%, 43%);
  padding: 40px 30px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.card__asideleft-title {
  color: aliceblue;
  margin-top: 0;
}

.card__asideleft-price {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
}

.card__asideleft-content {
  margin-bottom: 20px;
  font-weight: 400;
}

.card__asideleft-button {
  color: white;
  border-radius: 4px;
  border: none;
  padding: 13px 25px;
  background-color: hsl(71, 73%, 54%);
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  font-family: "Karla", sans-serif;
  font-weight: bold;
  transition: 0.4s;
}

.card__asideleft-button:hover {
  color: hsl(179, 62%, 43%);
  transform: scale(1.1);
}

.card__asideright {
  background-color: hsl(179, 62%, 43%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  color: white;
  gap: 10px;
}

.card__asideright-title {
  font-weight: 700;
  margin-bottom: 0;
}

.card__asideright-list {
  list-style: none;
  padding: 0;
  line-height: 1.3;
  font-weight: 200;
}

.card__asideright-item {
  font-size: 15px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
